
  .wrapper{
    width: 100%;
    min-height: 146vh;
    margin: 0;
    background-color: #7D4696 ;
  }

  .align1{
    position: absolute;
    margin-left: 0%;
    margin-top: 0%;
    }
    .align2{
    position: absolute;
    margin-left: 66%;
    margin-top: 0%;
    }
    .align3{
    position: absolute;
    margin-left: 5%;
    margin-top: 15%;
    }
    .align4{
    position: absolute;
    margin-left: 57%;
    margin-top: 15%;
    }
    .align5{
    position: absolute;
    margin-left: 57%;
    margin-top: 35%;
    }
    .align6{
      position: absolute;
      margin-left: 60%;
      margin-top: 38%;
    }
    .align7{
    position: absolute;
    margin-left: 0%;
    margin-top: 63%;
    }
    .text1{
      position: absolute;
      margin-left: 25%;
      margin-top: 0%;
      }
    .text2{
      position: absolute;
      margin-left: 50%;
      margin-top: 0%;
      }
      .text3{
        position: absolute;
        margin-left: 75%;
        margin-top: 0%;
        }
      .text4{
        position: absolute;
        margin-left: 25%;
        margin-top: 20%;
        }
      .text5{
        position: absolute;
        margin-left: 25%;
        margin-top: 29%;
        }
        .text6{
          position: absolute;
          margin-left: 25%;
          margin-top: 39%;
          }
        .text7{
          position: absolute;
          margin-left: 25%;
          margin-top: 69%;
          max-width: 100%;
          }
          .text8{
            position: absolute;
            margin-left: 60%;
            margin-top: 50%;
            }
          .form1{
            position: absolute;
            margin-left: 6%;
            margin-top: 2%;
            }
          .form2{
            position: absolute;
            margin-left: 6%;
            margin-top: 16%;
            }
 