.wrapper{
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin: 0;
  background-color: #7D4696 ;
}
.align0{
position: absolute;
margin-left: 0%;
margin-top: 0%;
}
.align01{
position: absolute;
margin-left: 55%;
margin-top: 0%;
}
.align02{
position: absolute;
margin-left: 1%;
margin-top: 15%;
}
.align03{
position: absolute;
margin-left: 65%;
margin-top: 18%;
}
.align1{
position: absolute;
margin-left: 12%;
margin-top: 24%;
}
.align2{
position: absolute;
margin-left: 12%;
margin-top: 27%;
}
.align3{
position: absolute;
margin-left: 12%;
margin-top: 34%;
}
.align4{
position: absolute;
margin-left: 10%;
margin-top: 48%;
}
.align5{
position: absolute;
margin-left: 41%;
margin-top: 47%;
}
.align06{
position: absolute;
margin-left: 64%;
margin-top: 37%;
}
.align6{
position: absolute;
margin-left: 68.5%;
margin-top: 40%;
}
.align7{
position: absolute;
margin-left: 67%;
margin-top: 51.5%;
}
.align8{
position: absolute;
margin-left: 81%;
margin-top: 51.5%;
}
.align9{
position: absolute;
margin-left: 0%;
margin-top: 55%;
}

.topnav {
overflow: hidden;
position:absolute;
margin-left:67% ;
}

.topnav a {
float: left;
display: block;
color: white;
text-align: left;
padding: 17px 47px;
text-decoration: none;
font-size: 20px;
}

.topnav .icon {
display: none;
}
