*{
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
}

.mainCard{
    background: #3C3644;
}    
.btn-complain{

    margin-left: 80%;
    background: #1A171D;
    
}
/* .btn-complain:hover{
    background: #490260;
} */
.closeBtn:hover{
    background: #3C3644;
}
.Box{
    border-color: #F5F5F591;
    background: #3C3644;
}
@media screen and (max-width: 637px) {
    .btn-complain{
    margin-bottom: 0px;
    margin-left: 40%;
    }
    
    }
 @media screen and (max-width: 500px) {
        .btn-complain{
        margin-bottom: 0px;
        margin-left: 30%;
        }
        
 }
