*{
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
}

.mainCard{
    background: #3C3644;
}    
.btn-propose{

    margin-left: 87%;
    margin-bottom: 5%;
    background: #1A171D;
}
.btn-propose:hover{
    background: #490260;
}
.closeBtn:hover{
    background: #3C3644;
}
.Box{
    border-color: #F5F5F591;
    background: #3C3644;
}
.btn-upload{
    background: #1A171D;
}
.btn-upload:hover{
    background: #3C3644;
}
@media screen and (max-width: 637px) {
    .btn-propose{
    margin-bottom: 0px;
    margin-left: 40%;
    }
    
    }
 @media screen and (max-width: 500px) {
        .btn-propose{
        margin-bottom: 0px;
        margin-left: 30%;
        }
        
 }
