body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.login-card {
    height: 200px;
    width: 490px;
    background-size: contain;
    background-image: url("./../assets/landing/login.png");
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (max-width: 812px) {
    .login-card {
        height: 200px;
        width: 380px;
    }
}